*{
    margin: 0px;
    padding: 0px;
}
.nine{
    height: 90px;
    width: 120px;
}
.icon{
    padding-top: 20px;
    
}
.badge{
    position: relative;
    left:0px;
}
.one{
    position: sticky!important;
    top: 0;
}

.back{
    background-color:red;
    height: 200px;
    width: 100;
}

.HOME{
    height:auto;
}

/* @media screen and (max-width:900px;){ */
    
/* } */

/* .first{
    width: 100%;
    height: 644px;
    display: flex;
}

.first-one{
    width: 50%;
    
}
.first-two{
    width: 50%;
} */



/* .top{
    width: 100%; 
    height: 800px;
    background-color: aqua;
    dia
}
.top1{
    width: 50%;
    height: 500px;
    background-color: blueviolet;
}
.top2{
    width: 50%;
    height: 643px;
    background-color: burlywood;
    float: left;
} */
.text{
    color: antiquewhite;
}
.pt{
    padding-top: 8rem;
}
.boxing{
    width: 100%;
    height: 260px;
    margin: 0rem;
}
.part-3{
    height: 380px;
}

.para{
   font-weight: bolder;
   font-size:38px;
   font-family:'Times New Roman', Times,;
}

.part-4{
    height: 590px;
    background-color: black;
}
.inner-1{
    height: 100px;
    background-color: black;
}
.inner-2{
    height: 470px;
    background-color: black;
}
.women-run{
    width: 100%;
    height: 100px;
}
.text{
    color: darkgrey;
}
.part-5{
    height: 490px;
    background-color: black;
}
.part-6{
    height: 520px;
    background-color: black;
}
.flower:hover{
    color: gold;
}
.image{
    position: relative;
}
.video{
    position: absolute;
    top: 0px;
}



.part-7{
   /* height: 810px; */
   background-color: red;
}
.part-7-one{
    border-right: solid gray 1px ;
}
.part-7-one{
    border-right: solid gray 1px ; 
}
.part-7-one{
    border-right: solid gray 1px ; 

}


.bord{
    border-bottom:solid gray 1px  ;
  
}
.part-9{
    height: 600px;
    background-color: black;
}
.part-9-two{
    height: 400px;
}
/* .col-12{
    height: 700px;
} */
.text-ends{
    align-items: end;
    margin-left: 10rem;
    font-size: small;
    color: gold;
}
.steve{
    font-size: small;
}
.pad{
    padding: 0px 5rem 0px 5rem;
    border-color: s ;
}

.part-10{
    height: 280px;
}
.part-10-one{
    border-right: solid gray 1px ;
}


.part-11{
    height: 330px;
    background-color: black;
}
.part-11-one{
    height: 330px;
}
.part-12{
    background-color: black;
}
.part-12-one{
    border-right: 2px solid;
    color:darkgray;
}
.part-12-two{
    color:darkgray;
}
.size{
    width: 80px;
    height: 100px;
    margin-left: 5rem;
}
.size-1{
    width: 30px;
    height: 40px;
}

.part-14{
    height: 500px;
}
.d{
    border-left:none;
}
.table{
    border:none;
}
td{
    border: 1px solid gray;
    
}
.co{
    background-color: black;
}