*{
    margin: 0px; 
    padding: 0px;
    font-family: sans-serif;
}
.head{
    width: 100%;
    height: 40px;
    background-color: white;
}
li.start{
    font-weight: 100;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
ul{
    list-style-type: none;
}
.home{
    color: black;
}
li a{
    text-decoration: none;
    color:darkgrey;
    display: flex;
}
li a:hover{
    color: black;
}
li{
    float: left;
    padding-top: 13px;
    padding-left: 15px;
}
#data{
    display: flex;
    padding-top: 12px;
    padding-left: 15px;
    border: none;
    font-size: 16px;
    color:darkgrey;
    float: left;
}
.cart{
    float: right;
    margin: 5px 20px;
    padding: 1px 5px;
}
.ph{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;   
    font-family: 'Arial Narrow',sans-serif;
    font-size: large;
} 
.c1{
    height: 600px;
}
.rowOne{
    width: auto;
    margin-left: 10px;
    margin: 3rem 1rem 3rem 1rem; 
}
.sectionOne{
    width: 25%;
    float: left;
}
.sectionTwo{
    width: 25%;
    float: left;
}
.innerTop {
    padding: 50px 5px;
    text-align: center;
    width: 10.1rem;
    background-color: rgb(202, 201, 201);
    color: darkgray;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    margin-left: 2rem; 
    margin-right: 15px;
  }
  .innerTopTwo{
    padding: 5px 5px;
    float: left;
    text-align: center;
    width: 10.1rem;
    background-color: rgb(202, 201, 201);
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
  }
  .icon_btn{
    background-color: black;
    color: white;
    vertical-align: top;
    border-radius: 5px;
    padding: 2px; 
  }
  .topSection{
    padding: 45px 5px;
  }
  .innerBtm{
    border: 1px solid rgb(198, 197, 197);
    padding: 15px 5px;
    text-align: center;
    width: 10rem;
    float: left;
    margin-left: 2rem;
    background-clip: border-box; 
  }
  .innerBtmone{
    border: 1px solid rgb(198, 197, 197);
    padding: 22px 5px;
    text-align: center;
    width: 10rem;
    float: left;
    margin-left: 2rem;
    background-clip: border-box; 
  }
  span{
    color:orange
  }
  .view{
    margin-top: 40px;
    text-align: center;
    margin-bottom: -40px;
    padding: 5px;
    font-size: small;
  }
  .second{
    margin-top: 22px;
    padding: 5px;
    font-size: small;
  }
  .pera{
    padding:4px 0px;
    font-size:3vh;
  }
  i{
    padding: 5px 0px;
  }
.footer{
    width: 100%;
    height: 40px;
    background-color:rgb(39, 36, 36);
    color: white;
    text-align: center;
    padding-top: 15px ;
}
del{
  color:lightslategrey;
}