body {
     background-image: url(./image.jpg) ;
     background-color: aqua;
     background-repeat: no-repeat;
     background-size: contain;
     height: 500px;
     background-position: center;
     position: relative;
     display: flex;
}
#image{
    display: flex;     
     text-align: center;
     position: absolute;
     top: 80%;
     left: 32%;
     color: peru;
     

}