*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.topcontainer{
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}
li{
    float: right;
    display:inline;
}
li,a{
    text-decoration: none;
    color: white;
}
.first{
    float: left;
    padding: 10px 2px;
}
.second{
    font-size: small;
    padding: 12px 5px;
}
/* nvjnojlpkjjppjfwoefmcokmi */
.container{
    height:200px;
    width: 90%;
    background-color: rgb(235, 233, 233);
    margin-left: 2.5rem;
    text-align: center;
}
.warm{
    padding-top: 3rem;
}
.contant{
    height: 30px;
    text-align: center;
    font-size: small;
    padding-top: 1.5rem;
}
.ton{
    height: 70px;
    width: 100%;
    padding-top: 3.4rem;
}
.call{
    padding: 5px;
    font-size: 10px;
    background-color: rgb(33, 33, 210);
    border: none;
    color: white;
}
.containerone{
    width:100%;
    height: 200px;
    display: flex;
}
.icon{
    background-color: blue;
    border: none;
    padding: 5px;
    margin-left: 3.5rem;
    position: absolute;
    top:-1rem;
    color: white;
}
.innerbtmtwo{
    height: 100px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    position: relative;
    background-color: rgb(235, 233, 233);
}
.innerbtmthree{
    height: 100px;
    margin-left: 3rem;
    margin-right: 3rem;
    /* margin-top: 3rem; */
    position: relative;
    background-color: rgb(235, 233, 233);
}
.para{
    font-size: small;
    margin-top: 5px;
    text-align: center;
}
.end{
    background-color: black;
    color:white;
    clear: both;
    text-align: center;
    height: 30px;
    padding-top: 8px;
}
.containertwo{
    width:100%;
    height: 140px;
    display: flex;
}